
.circle-container {
    border:1px solid #044FFF; /*Secondary shade of blue*/
    width: 30%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-circle {
    border-radius: 50%;
    height: 70%;
    width:60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-animation {
    animation: popup .8s ease-out;
}

/*Circle pop up and down*/
@keyframes popup {
    0% {
      transform: scale(1, 1);
      border: .2px solid orange;
      background-color: orange;
    }
    50% {
      transform: scale(1.1, 1.1);
      border: .5px solid red;
      background-color: red;
    }
    100% {
      transform: scale(1, 1);
      border: .2px solid orange;
      background-color: orange;
    }
  }