.center-text {
  text-align: center;
}

h1 {
  color: #0101FD; /*Primary color of blue*/
  text-decoration: underline;
}

.instructions-style {
  margin-left: 10vw;
  margin-right: 10vw;
}

.instructions-title-style {
  color: #044FFF; /*Secondary shade of blue*/
  text-decoration: underline;
}

.instructions-style, .information-section-style {
  color: grey;
}

/*center the section but still right aligned*/
.information-section-style {
  margin-left: 30vw;
  margin-right: 30vw;
}

.information-title-style {
  color: #0101FD;
  font-weight: bold;
  margin-right: 5px; /*Space between title and text*/
}

