.center-text {
  text-align: center;
}

h1 {
  color: #0101FD; /*Primary color of blue*/
  text-decoration: underline;
}

.instructions-style {
  margin-left: 3vw;
}

.instructions-title-style {
  color: #044FFF; /*Secondary shade of blue*/
  text-decoration: underline;
}

.instructions-style, .information-section-style {
  color: grey;
}

/*center the text*/
.information-section-style {
  display: flex;
  justify-content: center;
  font-weight: 900;
}

.information-title-style {
  color: #0101FD; /*Primary color of blue*/
  font-weight: bold;
  margin-right: 5px; /*Space between title and text*/
}

.button-style {
  background-color: green;
  width: 40vw;
  height: 5vh;
  margin-top: 5vh;
}

.button-text {
  font-weight: bold;
  font-size: large;
  color:white;
}

footer {
  margin-top: 10vh;
}

.row-of-hidden-circles {
  display:flex;
  justify-content: center;
}

.difficult-section {
  margin-top: 1vh;
}

.app {
  display: flex;
  justify-content: center;
  height: 100vh;
}

/*large screens*/
@media only screen and (min-width: 767px) {
  
}

/*larger screens*/
@media only screen and (min-width: 836px) {
  .container {
    height: 100%;
    width: 40%;
  }

  .button-style {
    background-color: green;
    width: 10vw;
    height: 5vh;
    margin-top: 5vh;
  }

  .difficult-section {
    margin-top: 5vh;
  }

  .instructions-style {
    margin-left: 6vw;
  }
}

/*larger screens*/
@media only screen and (min-width: 1250px) {
  .instructions-style {
    margin-left: 10vw;
  }
}

.hidePlayButton {
  display: none;
}

.pineGreen {
  background-color: #d6faed;
  
}

.burntOrange {
  background-color: #f5e3c7;
}

.deepPurple {
  background-color: #ecdafa;
}

.white {
  background-color: white;
}

